# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/venv/

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
out/
.next/

# IDEs and Tools
.vscode/
.idea/
.DS_Store
*.swp
*.log
vnt/

# Environment Variables
.env
.env.local
.env.*.local

# Temporal files
tmp/
temp/
git_status*
*.db
*.sqlite3
